body {
    background-image: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

h1,
h2 {
    text-align: center;
}

.container {
    width: 80vw;
    margin: 40px auto;
    display: flex;
    justify-content: space-between;
    /* border: 1px solid white; */
    padding: 10px;
}

.box {
    border: 1px solid rgb(157, 155, 155);
    padding: 10px;
    width: 33%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px;
}

img {
    width: 100%;
}

a {
    color: black;
}