@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Merienda:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Merienda', cursive;
    background-color: #000000;
}

/* ----------------------------- NAVBAR ------------------------------ */
.navbar {
    /* border: 1px solid black; */
    /* height: 60px; */
    background: rgba(0, 0, 0, 0.5) url(https://images.unsplash.com/photo-1546483875-ad9014c88eba?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1082&q=80);
    background-size: cover;
    background-position: center;
    background-blend-mode: darken;
    display: flex;
    position: sticky;
    top: 0;
    z-index: 100;
}

.firstSec {
    display: flex;
    align-items: center;
    width: 70%;
}

.firstSec ul {
    display: flex;
    margin: 0 10px;
}

.firstSec li {
    list-style: none;
    margin: 0 20px;
}

.firstSec a {
    /* text-decoration: none; */
    font-size: 22px;
    color: white;
}

.logo img {
    width: 60px;
    border-radius: 50%;
    margin: 5px;
}

.firstSec p {
    font-size: 25px;
    color: white;
}

.secondSec {
    display: flex;
    width: 30%;
    justify-content: right;
}

.secondSec button {
    padding: 5px 20px;
}

.input,
.button {
    display: flex;
    align-items: center;
}

.secondSec input {
    height: 30px;
    width: 100%;
    outline: none;
    font-size: 18px;
}

.gym-heading {
    font-family: 'Black Ops One', cursive;
}

.ham {
    position: absolute;
    top: 6px;
    right: 6px;
    display: none;
    cursor: pointer;
}

.ham div {
    height: 4px;
    width: 45px;
    background-color: white;
    margin: 8px;
}

/* MAIN VIEW SECTION  */
.main-view {
    height: 100vh;
    /* background-image: url(https://images.unsplash.com/photo-1540496905036-5937c10647cc?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80); */
    background: rgba(0, 0, 0, 0.7) url(https://images.unsplash.com/photo-1540496905036-5937c10647cc?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
    background-size: cover;
    background-blend-mode: darken;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-box {
    display: grid;
    width: 80%;
    height: 45vh;
    grid-template-columns: 1fr 1fr;
    /* background-color: rgba(0, 0, 0, 0.26); */
    color: rgb(252, 252, 252);
    border-radius: 20px;
}

.fhalf h1 {
    margin: 30px 10px;
    text-align: center;
    font-size: 2.2rem;
}

.fhalf p {
    margin: 5px 20px;
    font-size: 18px;
    /* background-color: rgba(255, 255, 255, 0.583); */
    border-radius: 10px;
    padding: 10px;
}

.shalf {
    display: flex;
    justify-content: center;
    align-items: center;
}

.shalf img {
    height: 300px;
    border-radius: 50%;
    border: 1px solid rgb(0, 0, 0);
    box-shadow: 0 0 30px 1px white;
}

.btn {
    padding: 10px 10px;
    font-size: 18px;
    margin: 10px 10px;
    /* height: 40px;     */
}

.btn-sm {
    font-size: 15px;
}

.b-section {
    display: flex;
    justify-content: center;
}

.b-section button {
    width: 120px;
}

/* ABOUT SECTION  */
#aboutus {
    display: flex;
    justify-content: center;

}

.section {
    height: 700px;
    color: white;
    width: 90%;
    background-color: rgba(255, 255, 255, 0.109);
    box-shadow: 0 0 10px white;
    margin: 50px auto;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.reverseSec {
    flex-direction: row-reverse;
}

.firstPart {
    padding: 50px;
    width: 40%;
}

.firstPart p {
    line-height: 2.5;
    margin-top: 30px;
}

.secondPart {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
}

.secondPart img {
    border-radius: 50%;
    height: 400px;
}

.enrollForm input {
    width: 90%;
    font-size: 18px;
    display: block;
    margin: 10px;
    padding: 2px;
}

footer {
    display: flex;
    justify-content: center;
    color: white;
    padding: 10px;
}

/* RESPONSIVE PART  */
@media only screen and (max-width:1080px) {
    .navbar {
        height: 280px;
        flex-direction: column;
        transition: all 0.5s ease-in-out;
    }

    .ham {
        display: block;
    }

    .firstSec,
    .firstSec ul {
        text-align: center;
        flex-direction: column;
        width: 100%;
        transition: visibility 0.4s linear;
    }

    .secondSec {
        width: 100%;
        text-align: center;
        justify-content: center;
        transition: visibility 0.2s linear;
    }

    .hide-item {
        /* display: none; */
        visibility: hidden;
    }
}

@media only screen and (max-width:1238px) {
    .firstSec a {
        font-size: 18px;
    }

    .firstSec p {
        font-size: 20px;
    }

    .hide-nav {
        height: 55px;
    }
}

@media only screen and (max-width:900px) {
    .main-box {
        grid-template-columns: 1fr;
        width: 95%;
        height: 90%;
    }

    .shalf {
        margin-top: 20px;
    }

    .shalf img {
        height: 250px;
    }

    .section {
        flex-direction: column;
        /* height: auto; */
    }

    .firstPart,
    .secondPart {
        width: 90%;
        text-align: center;
    }

    .firstPart {
        padding: 1px;
    }

    .secondPart img {
        height: 250px;
    }
}